/* Admin.css */
.admin-container {
    background: #c0b9fb;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .admin-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Optional: Add padding as needed */
    color: #fff; /* Optional: Set text color to white or another contrasting color */
  }
  